
  <header class="topheader" th:fragment="navbar">

    <nav class="topnav">
      <div class="logo">
        <div class="logotype">
          Mis Videojuegos
        </div>
      </div>
      <button class="open-menu">
        <i class="fa-solid fa-bars"></i>
      </button>
      <ul class="menu">
        <button class="close-menu">
          <i class="fa-regular fa-circle-xmark fa-xl" style="color: #fafafa;"></i>
        </button>
        <li><a href="#">Añadir juego</a></li>
        <li><a href="#">Sobre mi</a></li>


      </ul>
    </nav>
  </header>