
  <header class="topheader" th:fragment="navbar">

    <nav class="topnav">
      <div class="logo">
        <div class="logotype">
          <a href="/">Mis Videojuegos</a>
        </div>
      </div>
      <button class="open-menu">
        <i class="fa-solid fa-bars"></i>
      </button>
      <ul class="menu">
        <button class="close-menu">
          <i class="fa-regular fa-circle-xmark fa-xl" style="color: #fafafa;"></i>
        </button>
        <li><a href="/">Inicio</a></li>
        <li><a href="/add">añadir juego</a></li>


      </ul>
    </nav>
  </header>


  <footer  th:fragment="footer">
    <div>
      ~ Creado por Sara OZ ~
    </div>

  </footer>