@import url('https://fonts.cdnfonts.com/css/fats-are-good');


  img{

    height: 70px;
    width: 100px;

}

main{

    margin-top: 100px;
}

body{

    background-color: lightgrey !important;
}

tbody{
    background-color: aliceblue;
}


th:hover{
    cursor: pointer;
}

#div-tabla{

    padding-left: 100px;
    padding-right: 100px;

}