@import url('https://fonts.cdnfonts.com/css/fats-are-good');


  img{

    height: 70px;
    width: 100px;

}

#titulo{

    font-family: 'FATS ARE GOOD', sans-serif;
    /*background-image: url(../../img/fondomando.jpg);*/

}

body{


  /* background-image: url(../../img/fondomando.jpg);*/
    background-color: lightslategray;

}

tbody{

    background-color: lightblue;

}

th:hover{
    cursor: pointer;
}

#div-tabla{

    padding-left: 100px;
    padding-right: 100px;
}